.auth__register {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem 0;
}

.auth__button {
  cursor: pointer;
  font-size: 0.9rem;
}

.auth__error__password__message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  margin-bottom: 1rem;
}
