.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 0.5rem;
  /* position: fixed; */
  background: #4b2b2b;
  min-height: 3.2rem;
  top: 0;
  z-index: 1;
}

.header__logo {
  order: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: auto;
  height: 3.2rem;
  gap: 0.5rem;
  background: none;
  user-select: none;
}

.header__logo__image {
  height: 100%;
  display: block;
}

.header__logo__title {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  font-size: 1.4rem;
  height: 100%;
  color: var(--font);
}

.header__actions {
  order: 3;
  display: flex;
  width: auto;
  justify-content: center;
  gap: 1rem;
}

.header__actions__name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.games__genre {
  order: 4;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  color: var(--font);
  overflow-x: auto;
  padding-bottom: 8px;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--font);
    border-radius: 3px;

    &:hover {
      background: #888;
    }
  }

  scrollbar-width: thin;
  scrollbar-color: var(--font) rgba(0, 0, 0, 0.1);
}

.games__genre:after {
  content: "";
  position: absolute;
  right: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(90deg, transparent 0%, var(--background-color) 100%);
  pointer-events: none;
}

.header__login__button {
  background: none;
  color: var(--font);
  cursor: pointer;
  transition: transform 200ms ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
}

.header__login__button:hover {
  transform: scale(1.1);
}

.header__logout__button {
  background: none;
  color: var(--font);
  cursor: pointer;
  transition: transform 200ms ease-out;
  font-size: 1rem;
  padding: 0 1rem;
}

.header__logout__button:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .header__actions {
    width: auto;
  }

  .header__logo__title {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .header__logo__title {
    display: flex;
    font-size: 1.6rem;
  }

  .games__genre {
    justify-content: flex-start;
  }

  .header {
    align-items: center;
  }

  .header__logo {
    width: auto;
  }

  .header__actions {
    width: auto;
  }
}