.footer {
  text-align: center;
  padding: 2.5rem 0;
}

.copyright {
  color: #ffffff;
  font-size: 0.8125rem;
  margin: 1.25rem 0;
}

.footer__links {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.footer__social {
  padding: 1rem;
  gap: 1rem;
  color: gray;
}
