.header__filter {
  order: 3;
  display: flex;
  gap: 1rem;
}

.header__search__box {
  order: 3;
  width: 100%;
  background: none;
  border: 1px solid var(--border-search);
  border-radius: 1.5rem;
  padding: 1rem;
  background-color: var(--search-box);
  color: var(--font);
}

.header__search__box::placeholder {
  color: var(--font);
  opacity: 0.8;
}

.header__filter__favorites {
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}

.header__filter__favorites:hover {
  font-weight: bold;
}

.fav__check {
  display: none;
}

.fav__check:checked+.fav__title {
  font-weight: bold;
}

.header__actions__ordenar {
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}

.header__filter__favorites:hover {
  font-weight: bold;
}

.fav__check {
  display: none;
}

.fav__check:checked+.fav__title {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .header__filter {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .header__filter {
    order: 2;
    min-width: 35%;
  }

  .header__search__box {
    width: 70%;
    order: 2;

    height: 80%;
    padding: 0.5rem 1rem;
  }

  .header__filter__favorites {
    order: 4;
  }
}