@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap");

/* Estilização inicial onde é passado a base de dados a ser utilizada na página e resetado alguns pontos para trabalho de estilos*/

* {
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: linear-gradient(180deg, #4b2b2b 0%, #000000 63.96%);
  --card-bg: linear-gradient(180deg, #664040 0%, #252424 65%);
  --search-box: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 12, 85, 0.1) 25.95%,
    rgba(255, 194, 194, 0.1) 100%
  );
  --border: rgba(255, 255, 255, 0.7);
  --button: rgba(0, 0, 0, 0.2);

  --border-search: rgba(255, 255, 255, 0.5);
  --font: #fcfcfc;
  --font-desc: rgba(161, 160, 163, 1);
}
